
body{
  padding:0;
  margin:0;
}
a:hover, a:active{color:red; background-color:white;}
a:link, a:visited{color:#ffffff;}
a{text-decoration:none;}


.vid-container{
  position:relative;
  height:200vh;
  overflow:hidden;
}
.bgvid.back {
  position: fixed; right: 0; bottom: 0;
  min-width: 200%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
}
.inner {
  position: absolute;
}
.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}
.registration-inner-container{
  width:500px;
  height:100%;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}

.publish-inner-container{
  width:500px;
  height:100%;
  overflow: hidden;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}

.notification{
  width:20px;
  height:20px;
  background:green;
  position:fixed;
  left:155px;
  z-index:999;
  top:0;
  border radius:10px;
  color:white;

  }

  .number{
  text-align:center;
  }


.eventdetails-inner-container{
  width:55%;
  height:1500px;
  overflow: hidden;
  position:absolute;
  top:calc(30vh - 200px);
  left:calc(40vw - 200px);
  overflow:hidden;
}

.eventdetails-inner-container1{
  width:80%;
  height:1500px;
  overflow: hidden;
  position:absolute;
  top:calc(30vh - 200px);
  left:calc(40vw - 200px);
  overflow:hidden;
}
.online-users{
 background-color:grey;
 height:800px;
}

.four{
   float:right;
   margin-right:50px;
   margin-top:185px;
 }
 .six{ 
  width:250px; 
  margin:5px;  
  float:left; 
  margin-left:50px;
   margin-top:185px;
}

.publish-image{ 
   background:;
   position:absolute;
  width:23%; 
  height: 700px;
  margin:5px;  
  float:left; 
  margin-left:10px;
   margin-top:10px;
}

.MAINHEADER1{

 background:; 
 width:27%; 
 height:50px;
 line-height:1; 
  }

  .form-postion{
    margin-left: 50px;

  }

  .publishMAINHEADER1{
    background:#742ECC;
    border:5px;
border-color:#ffffff;
 float:right;
 margin-top:10px;
 background:; 
 width:23%; 
 height:50px;
 line-height:2; 
  }

.img_div1{
border:5px;
border-color:#ffffff;


}

.select_detail{
  width:100px;
}

.fl clientName{
  background: #ffffff;
}



.bgvid.inner{
  top:calc(-50vh + 200px);
  left:calc(-50vw + 200px);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
}
.box{
  position:absolute;
  height:100%;
  width:100%;
  font-family:Helvetica;
  color:#fff;
  background:rgba(0,0,0,0.13);
  padding:30px 0px;
}
.box h1{
  text-align:center;
  margin:10px 0;
  font-size:30px;
  font-family: sans-serif;
  font-color:#742ECC;
}
.box input{
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:#fff;
  border:0;
}
.box input:focus,.box input:active,.box styled-button:focus,.box styled-button:active{
  outline:none;
}
.box styled-button{
  background:#742ECC;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.box styled-button:active{
  background:#27ae60;
}

.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}

.box button{
  background:#742ECC;
  color:#fff;
  cursor:pointer;
}
.box button:active{
  background:#27ae60;
}

.publishMAINHEADER1 input:focus,.publishMAINHEADER1 input:active,.publishMAINHEADER1 button:focus,.publishMAINHEADER1 button:active{
  outline:none;
}

.publishMAINHEADER1 button{
  background:#742ECC;
  color:#fff;
  cursor:pointer;
}
.publishMAINHEADER1 button:active{
  background:#27ae60;
}


.box input:focus,.box input:active,.box styled-button:focus, .box styled-button:active{
  outline:none;
}
.box styled-button{
  background:#742ECC;
  border:0;
  color:#fff;
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
.styled-button:active{
  background:#27ae60;
}


.box p{
  font-size:14px;
  text-align:center;
}
.box p span{
  cursor:pointer;
  color:#666;
}

#connectionStatus {
    margin-top: 7px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    float:right;
}

body.notconnected #connectionStatus {
    background-color: green;
}

body.connected #connectionStatus {
    background-color: #009700;
}

body.notconnected #disconnectButton {
    display: none;
}

body.connected #disconnectButton {
    display: inline-block;
}

body.notconnected #connectButton {
    display: inline-block;
}

body.connected #connectButton {
    display: none;
}

body.connected #connectionStatus:after {
    content: 'connected';
    padding-left: 22px;
}

body.connectionbroke #connectionStatus:after {
    content: 'disconnected';
    padding-left: 22px;
}




