img{
	float: left;
	margin:5px;
	width:300px;
	height:140px;
}

#content{
	width:95%;
	margin: 0px auto;
	border: 1px solid #cbcbcb;

}

form{
	width:50%;
	margin-top: 20px auto;

}
form div{
	margin-top:5px;

}
#img_div{
	width:98%;
	padding:5px;
	margin:5px auto;
	border : 1px solid #cbcbcb;

}
#img_div:after{
	content:"";
	display: block;
	clear: both;
}

